.footer {
    background-color: rgb(27, 27, 27);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: white;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: white;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.app-s .app-img img {
    width: 120px;
    margin-right: 10px;
    padding: 0;
}
.app-s .app-img img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.contact-info {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    color: white;
}

.contact-info h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px 0;
}

.icons-rows {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icons-rows .million {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons-rows .million img {
    width: 100px;
    margin-bottom: 5px;
}

.icons-rows .million p {
    margin: 0;
    font-size: 0.9em;
    color: white;
}
.social-media img:hover{
    transform: scale(1.2);
}
.copyright{
    color: white;
    text-align: center;
    padding: 10px;
    display: inline-block;
}